@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(224, 224, 224);
}

.container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.card {
    width: 350px;
    height: 350px;
    background-color: azure;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    /* glassmorphism effect   */
    background: rgba(255, 255, 255, 0.667);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 3px);
    -webkit-backdrop-filter: blur( 10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.card .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.card .subtitle {
    font-size: 15px;
    font-weight: 200;
}

.icon_service {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: aquamarine;
    margin-bottom: 20px;
}