* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password {
    font-family: 'Courier New', Courier, monospace;
}

.card {
    width: 400px;
    height: 150px;
    background-color: antiquewhite;
    /* place-items: center; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.pass_wrapper {
    background-color: aquamarine;
    border-radius: 3px;
    padding: 10px 40px;
    margin-bottom: 10px;
    font-size: 25px;
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 12px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: rgb(182, 197, 192);
    color: white;
}